footer {
      border-top: 1px solid #D9D9D9;
      font-family: "Lato", sans-serif;
      font-size: 0.875rem;
      color: rgba(0, 0, 0, 0.5);

}
footer .container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
   display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}
footer ul img {
  transition: transform 0.3s ease;
}

footer ul img:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  footer p {
    order: 2;
  }

  footer img {
    order: 1;
  }

  footer ul {
    order: 3;
    justify-content: center;
  }
}
