.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 3.5rem 1.5rem;
  flex-wrap: wrap;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
  width: 40%;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title .line {
  width: 32px;
  height: 2px;
  background-color: #333333;
}
.title h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.hero-content h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 4.5rem;
}
.hero p {
  font-family: "Lato", sans-serif;
  color: #686665;
  font-size: 1.5rem;
}
.hero-content a {
  background-color: #131212;
  color: #ffff;
  border-radius: 40px;
  padding: 1rem 2rem;
  width: fit-content;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}
.hero-content a:hover {
  background-color: #333;
  transform: translateY(-4px);
}

.hero-content img {
  width: 100%;
  max-width: 350px;
}
.hero-image {
  width: 36%;
  max-width: 500px;
}
.hero-image img {
  width: 100%;
  max-width: 460px;
  height: auto;
  object-fit: cover;
  border: 1px solid #686665;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-content {
    align-items: center;
  }

  .hero-content h3 {
    font-size: 3rem;
  }

  .hero-content img {
    max-width: 100%;
  }
  .hero-image {
    width: 100%;
    max-width: 250px;
  }
}
