@import url('./navbar.css');
@import url('./hero.css');
@import url('./edu.css');
@import url('projects.css');
@import url('./skills.css');
@import url('footer.css');
@import url('contact.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #836a80e3 #f2f0f9;
}

.container{
    width:88.8%;
    margin: auto;
}
a{
    text-decoration: none;

}
