.skills {
  padding: 3.5rem 1.5rem;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.skills .title{
    margin-bottom: 0.75rem;
}
.skills h3{
    font-size: 3.5rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 2.5rem;
    width: 40%;
}
.skills-list{
    list-style: none;
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
}
.skills-list img {
  transition: transform 0.3s ease;
}

.skills-list img:hover {
  transform: scale(1.1);
}